@import "var";

.page-header {
    padding: 40px 0;
    color: #fff;
    text-align: center;
    background-color: $primary;
}
.page-footer {
    padding: 40px 0;
    color: #fff;
    text-align: center;
    background-color: $primary;
}